{% extends 'base.pages.html.twig' %}
{% block page %}{% endblock page %}
{% block content %}

<!-- MISSION SECTION START -->
    <section class="mission-section d-flex align-items-center container">
        <div class="mission-left d-flex align-items-center justify-content-center w-50 img-wrap" style="background-image: url('{{asset('front/images/blog/blog2.png')}}');height:365px;"></div>
        <div class="mission-right w-50 h-50">
            <h3>Mission de <br> l'Amicale de MEMBA</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec volutpat elit. Mauris sollicitudin, est ac tristique euismod, velit turpis vehicula dui, at fringilla dui orci non nibh. Quisque congue tellus lacus, et tristique leo tristique sit amet.
                Mauris tincidunt faucibus mi eu tempus. Sed congue risus sed fermentum dapibus. In feugiat egestas bibendum. Aenean vitae risus id ante ornare vehicula a sed sem. Sed nibh mauris, fermentum et dignissim a, tempus ut urna.
            </p>
        </div>
    </section>
    <!-- MISSION SECTION END -->

<!-- STATS SECTION START -->
<section class="container-fluid stats-about">
    <div class="stats container d-flex flex-column justify-content-between">
        <h2 class="text-center my-5">L'Amicale en chiffres</h2>
        <div class="stats-cards w-100 h-50 d-flex justify-content-around mb-5">
            <div class="stats-card">
                <div class="stats-ico d-flex justify-content-center align-items-center grad">
                    <i class="fa-solid fa-graduation-cap fa-2x"></i>
                </div>
                <h4 class="text-center">
                    <span class="count"> 50000 </span> Alumnis
                </h4>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. </p>
            </div>
            <div class="stats-card">
                <div class="stats-ico d-flex justify-content-center align-items-center chart">
                    <i class="fa-solid fa-chart-line fa-2x"></i>
                </div>
                <h4 class="text-center">
                    <span class="count"> 50000 </span> Projets
                </h4>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. </p>
            </div>
            <div class="stats-card">
                <div class="stats-ico d-flex justify-content-center align-items-center money">
                    <i class="fa-solid fa-money-bill fa-2x"></i>
                </div>
                <h4 class="text-center">
                    <span class="count"> 50000 </span> Fonds Immobilises
                </h4>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. </p>
            </div>
        </div>
    </div>
</section>
<!-- STATS SECTION END -->

<!-- REALISATION SECTION START  -->
<section class="realisations">
    <div class="container">
        <h2 class="text-center my-5">Nos réalisations</h2>
        <div class="realisations-carousel-container w-100">
            <div class="realisations-card">
                <div class="image" style="background-image: url({{asset('front/images/realisations/real_1.png')}});"></div>
                <h5 class="py-2">Nom projet</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
                </p>
                <a href="#" class="btn btn-outline-primary">Lire plus</a>
            </div>
            <div class="realisations-card">
                <div class="image" style="background-image: url({{asset('front/images/realisations/real_2.png')}});"></div>
                <h5 class="py-2">Nom projet</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
                </p>
                <a href="#" class="btn btn-outline-primary">Lire plus</a>
            </div>
            <div class="realisations-card">
                <div class="image" style="background-image: url({{asset('front/images/realisations/real_3.png')}});"></div>
                <h5 class="py-2">Nom projet</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
                </p>
                <a href="#" class="btn btn-outline-primary">Lire plus</a>
            </div>
            <div class="realisations-card">
                <div class="image" style="background-image: url({{asset('front/images/realisations/real_1.png')}});"></div>
                <h5 class="py-2">Nom projet</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
                </p>
                <a href="#" class="btn btn-outline-primary">Lire plus</a>
            </div>
            <div class="realisations-card">
                <div class="image" style="background-image: url({{asset('front/images/realisations/real_2.png')}});"></div>
                <h5 class="py-2">Nom projet</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
                </p>
                <a href="#" class="btn btn-outline-primary">Lire plus</a>
            </div>
        </div>
    </div>
</section>
<!-- REALISATION SECTION END  -->


<!-- BUREAU SECTION START -->
<section class="historique">
    <h2 class="text-center my-5">Bureau actuel</h2>
    <div class="container">
        <div class="historiques-caroussel-container">
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
            <div class="historique-card">
                <div class="image" style="background-image: url({{asset('front/images/interview/interview_1.png')}});"></div>
                <h5>Fonction</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu pur
                </p>
                <h6>Nom prénom</h6>
            </div>
        </div>
    </div>
</section>
<!-- BUREAU SECTION END -->


<!-- TESTIMONY SECTION START  -->
<section class="testimony-section container-fluid">
    <h2 class="text-center mb-5 pt-5">Quelques mots de la présidente</h2>
    <div class="testimony-container container d-flex justify-content-between">
        <div class="testimony-left testimony-card" style="background-image: url({{asset('front/images/blog/blog2.png')}});"></div>
        <div class="testimony-right testimony-card">
            <p>
                ''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas''
            </p>
            <h6 class="my-3">La présidente</h6>
        </div>
    </div>
</section>
<!-- TESTIMONY SECTION START  -->


<!-- PARTNERS SECTION START -->
<section class="partners container">
    <h2 class="text-center py-5">Nos partenaires</h2>
    <div class="partners-carousel-container">
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/free.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/sonatel.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/ism.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/iam.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/zadada.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/free.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/sonatel.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/ism.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/iam.png')}}" alt="">    
        </div>
        <div class="d-flex justify-content-center align-items center">
            <img src="{{asset('front/images/partners/zadada.png')}}" alt="">    
        </div>
    </div>
</section>
<!-- PARTNERS SECTION END -->

<!--<div class="vh-100"></div> -->
{% endblock content %}