{% extends 'base.pages.html.twig' %}

{% block title %}Annuaire{% endblock %}
{% block page %}{% endblock page %}

{% block content %}
<!-- SECOND SECTION START -->
    <section class="second py-5">
        <div class="container">
            <form class="search-box row mb-5 justify-content-center" method="POST" action="{{path('app_annuaire_details_recherche')}}">
                <div class="input col-7">
                    <input type="text" name="search" placeholder="Rechercher des mots cles..." class="form-control">
                </div>
                <div class="search-btn col-2">
                   <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
               
            </form>
            <div class="phone-book row row-cols-2 row-cols-md-4 gy-3">
                {% for membre in membres %}
                
                <div class="phone-book-card">
                    <a href="{{path('app_annuaire_details', {'prenom' : membre.prenom, 'nom': membre.nom })}}">
                        <div class="phone-book-card-cont" style="background-image: url(' {% if membre.profile %} /pp/{{membre.profile}} {% else %}{{asset('front/images/avatars/exemple.jpg')}} {% endif %} ');">
                            {% if membre.statut %}
                            <button class="btn btn-primary mt-1 mx-1">Recherche d'emplois</button>
                            {% endif %}
                           
                            <span>{{membre.prenom}} {{membre.nom}}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
                
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                    {% do membres.setPageRange(2) %}
                    {{ knp_pagination_render(membres) }}
            </div>
        </div>
    </section>
    <!-- SECOND SECTION END -->
{% endblock %}


{% block part %}{% endblock part %}