{% extends 'base.pages.html.twig' %}

{% block page %}{% endblock page %}

{% block content %}

<!-- EVENTS SECTION START -->
<section class="events container position-relative">
    <h2 class="text-center pt-5">Evènements à venir</h2>
    <div class="events-carousel-container my-5 position-relative">
      {% for ev in future %}
        <div class="event-card event-card1 position-relative" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('evenements/')}}{{ev.images[0].path}}');">
            <div class="event-card-badge position-absolute">
                <span class="text-center">{{ev.date |format_datetime(locale='fr', dateFormat = 'medium' ,  timeFormat = 'none') }}</span>
            </div>
            <div class="event-card-content">
                <h3>{{ev.title}}</h3>
                
                <div class = "row mb-2">
                    <div class = "col-8"><h5>{{ev.startAt |date("H:i")}} - {{ev.endAt |date("H:i")}}</h5></div>
                    <div class = "col-4"> <a class="btn btn-outline-primary btn-sm" href="{{path('app_agenda_details', {'id' : ev.id })}}"> Details </a> </div>
                </div>
            </div>
        </div>
      {% endfor %}
       
      
        
    </div>
    <div class="events-btn position-absolute">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="events-arrow-left" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i></button>
            <button type="button" id="events-arrow-right" class="btn btn-secondary"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
</section>
<!-- EVENTS SECTION END -->

<!-- SECOND SECTION START -->
<section class="second">
    <div class="container">
        <main class="col-lg-12">
            <h2 class="text-center second-title pt-5">Activités passées</h2>
            <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                <strong class="d-block py-2">{{numberPast}} articles trouvés </strong>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Categories
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Toutes les catégories</a></li>
                          <li><hr class="dropdown-divider"></li>
                          {% for cat in categories %}
                          <li><a class="dropdown-item" href="{{path('app_agenda_categorie', {'id' : cat.id })}}">{{cat.name}}</a></li>
                          {% endfor %}
                          
                        </ul>
                      </div>
                   
                </div>
            </header>
            
            
            <div class="row">
              {% for ev in past %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="card card-product-grid">
                        
                        <div class="img-wrap" style="background-image: url('{{asset('evenements/')}}{{ev.images[0].path}}');"> </div>
                        <figcaption class="info-wrap border-top">
                            <h3>{{ev.title}}</h3>
                            <div class="article-infos">
                                <a class="btn btn-outline-primary btn-sm mb-2" href="{{path('app_agenda_details', {'id' : ev.id })}}"> Details </a> 
                                <div class="article-date"><i class="fa-solid fa-calendar-days pb-2"></i> Le {{ev.date |format_datetime(locale='fr', dateFormat = 'medium' ,  timeFormat = 'none') }} de {{ev.startAt |date("H:i")}} à {{ev.endAt |date("H:i")}}</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
              {% endfor %}
                


            </div>
           
        </main>
    </div>
</section>
<!-- SECOND SECTION END -->

<!-- PARTNERS SECTION START -->
<section class="partners container">
    <h2 class="text-center py-5">Nos partenaires</h2>
    <div class="partners-carousel-container pb-5">
        
        {% for part in partenaires %}
        <div class="d-flex justify-content-center align-items center">
            <img src="/partenaires/{{part.logo}}" alt="" style="width: 200px; object-fit: cover">    
        </div>
        {% endfor %}
    </div>
</section>
<!-- PARTNERS SECTION END -->


{% endblock %}
