{% extends 'base.admin.html.twig' %}

{% block content %}
<div class="page-content">
    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12 ">

                <div class="card">
                    
                        
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        <strong> Réseaux sociaux </strong> 
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <form class="form form-horizontal" method="POST" action="{{path('app_footer')}}">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="entrepriseTitre">Mail</label>
                                            <input type="text" class="form-control" name="mail" id="entrepriseTitre" aria-describedby="helpId" placeholder="" value="{{foot.mail}}">                                               
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="entrepriseTitre">Facebook</label>
                                            <input type="text" class="form-control" name="facebook" id="entrepriseTitre" aria-describedby="helpId" placeholder="" value="{{foot.facebook}}">                                               
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="entrepriseTitre">Instagram</label>
                                            <input type="text" class="form-control" name="instagram" id="entrepriseTitre" aria-describedby="helpId" placeholder="" value="{{foot.instagram}}">                                               
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="entrepriseTitre">Twitter</label>
                                            <input type="text" class="form-control" name="twitter" id="entrepriseTitre" aria-describedby="helpId" placeholder="" value="{{foot.twitter}}">                                               
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="entrepriseTitre">Whatsapp</label>
                                            <input type="text" class="form-control" name="whatsapp" id="entrepriseTitre" aria-describedby="helpId" placeholder="" value="{{foot.whatsapp}}">                                               
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Modifier la section</button>      
                            </form>
                        </div>
                    </div>
                        
                    
                </div>  
            </div>
        </div>
    </section>    
</div>
{% endblock %}




