{% extends 'base.pages.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block page %}{% endblock page %}

{% block content %}

<!-- HERO SECTION START -->
<section class="slider-section">
    <i class="fas fa-angle-left fa-3x arrow arrow-left" id="arrow-left"></i>
    <div class="sliders-container">
        <div class="slider sl-1" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.carouselImage1}}');">
            <div class="sl-content">
                <div class="sl-content-content">
                    <h2>{{page.carouselTitre1}}</h2>
                    <p>
                        {{page.carouselText1}}
                    </p>
                </div>
            </div>
        </div>
        <div class="slider sl-2" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.carouselImage2}}');">
            <div class="sl-content">
                <div class="sl-content-content">
                    <h2>{{page.carouselTitre2}}</h2>
                    <p>
                        {{page.carouselText2}}
                    </p>
                </div>
            </div>
        </div>
        <div class="slider sl-3" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.carouselImage3}}');">
            <div class="sl-content">
                <div class="sl-content-content">
                    <h2>{{page.carouselTitre3}}</h2>
                    <p>
                        {{page.carouselText3}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <i class="fas fa-angle-right fa-3x arrow arrow-right" id="arrow-right"></i>
</section>
<!-- HERO SECTION END -->




<!-- MISSION SECTION START -->
<section class="mission-section row row-cols-1 row-cols-md-2 container my-5 mx-auto">
    <div class="mission-left col">
        <div class="blue-bg d-flex align-items-center">
            <img src="{{asset('/pages/')}}{{page.missionImg}}">
        </div>
    </div>
    <div class="mission-right col">
        <div class="">
            <h3>{{page.missionTitre}}</h3>
            <p>
                {{page.missionText | raw}}
            </p>
            <a href="{{path('app_about')}}" class="btn btn-primary">Lire plus <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
</section>
<!-- MISSION SECTION END -->


<!-- STATS SECTION START -->
<section class="stats container d-flex flex-column justify-content-between mt-5">
    <h2 class="text-center my-5" style="margin-bottom: 50px">L'Amicale en chiffres</h2>
    <div class="stats-cards w-100 h-50 d-flex justify-content-around my-5">
        <div class="stats-card">
            <div class="stats-ico d-flex justify-content-center align-items-center grad">
                <i class="fa-solid fa-graduation-cap fa-2x"></i>
            </div>
            <h4 class="text-center">
                <span class="count"> {{page.chiffreAlumni}} </span> Alumnis
            </h4>
            <p class="text-center"> {{page.chiffreAlumniText}}</p>
        </div>
        <div class="stats-card">
            <div class="stats-ico d-flex justify-content-center align-items-center chart">
                <i class="fa-solid fa-chart-line fa-2x"></i>
            </div>
            <h4 class="text-center">
                <span class="count"> {{page.chiffreProjet}} </span> Projets
            </h4>
            <p class="text-center"> {{page.chiffreProjetText}}</p>
         </div>
        <div class="stats-card">
            <div class="stats-ico d-flex justify-content-center align-items-center money">
                <i class="fa-solid fa-money-bill fa-2x"></i>
            </div>
            <h4 class="text-center">
                <span class="count"> {{page.chiffreFonds}} </span> Millions
            </h4>
            <p class="text-center"> {{ page.chiffreFondsText}} </p>
        </div>
    </div>
</section>
<!-- STATS SECTION END -->

<!-- CTA SECTION START -->
<section class="cta">
    <div class="container d-flex flex-column justify-content-around h-100 py-5">
        <h2 class="text-center">{{page.entrepriseTitre}}</h2>
        <p class="text-center">
            {{page.entrepriseTexte}}
        </p>
        <div class="w-100 d-flex justify-content-center">
            <a href="{{path('app_demande_partenariat')}}" class="btn btn-primary">Demander un partenariat <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
</section>
<!-- CTA SECTION END -->



<!-- WEN SECTION START -->

<section class="wen container">
    <h2 class="text-center py-5">PAROLE AUX ANCIENNES</h2>
    <div class="wen-cards container mx-auto">
        <div class="wen-cards-duo">
            <div class="card1 wen-card col position-relative">
                <p>
                    “{{page.temoignageText3}}“
                </p>
                <h5 class="position-absolute">{{page.temoignageAuteur3}}</h5>
            </div>
            <div class="card2 wen-card col d-flex align-items-end" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.ancienneImg1}}');">
                <div class="wen-card-video">
                    <h5>{{page.temoignageAuteur1}}</h5>
                    <h3>{{page.temoignageTitre1}}</h3>
                    <p>“{{page.temoignageText1}}“ </p>
                </div>
            </div>
        </div>
        <div class="wen-cards-duo ">
            <div class="card3 wen-card col d-flex align-items-end" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.ancienneImg2}}');">
                <div class="wen-card-video position-relative">
                    <h5>{{page.temoignageAuteur2}}</h5>
                    <h3>{{page.temoignageTitre2}}</h3>
                    <p>“{{page.temoignageText2}}“ </p>  
                </div>
            </div>
            <div class="card4 wen-card col position-relative">
                <p>
                    “{{page.temoignageText4}}“ 
                </p>
                <h5 class="position-absolute">{{page.temoignageAuteur4}}</h5>
            </div>
        </div>
    </div>
</section>
<!-- WEN SECTION END -->


<!-- BLOG SECTION START -->
<section class="blog container position-relative mt-3">
    <h2 class="text-center pt-5">{{ page.blogTitre }}</h2>
    <p>
        {{ page.blogText }}
    </p>
    <div class="blog-carousel-container pb-5">
        {% for art in articles %}
        <div class="blog-card">
            <div class="blog-card-top">
                <img src="{{asset('/blog/')}}{{art.images[0].path}}" alt="">
            </div>
            <div class="blog-card-bottom">
                <h4>{{art.titre}}</h4>
                <a href="{{path('app_blog_article_details',{slug:art.slug})}}" class="btn btn-outline-primary">Lire plus</a>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="blog-btn position-absolute">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="blog-arrow-left" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i></button>
            <button type="button" id="blog-arrow-right" class="btn btn-secondary"><i class="fa-solid fa-angle-right"></i></button>
        </div>
        <a class="btn btn-primary" href="{{path('blog')}}">Voir tout <i class="fa-solid fa-angle-right"></i></a>
    </div>
</section>
<!-- BLOG SECTION END -->

{% if events != null %}
<!-- EVENTS SECTION START -->
    <section class="events container position-relative">
        <h2 class="text-center pt-5">Evènements à venir</h2>
        <div class="events-carousel-container my-5 position-relative">
            
            {% for ev in events %}
            <div class="event-card event-card1 position-relative" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('evenements/{{ev.images[0].path}}');">
                <div class="event-card-badge position-absolute">
                    <span class="text-center">{{ev.date |format_datetime(locale='fr', dateFormat = 'medium' ,  timeFormat = 'none') }}</span>
                </div>
                <div class="event-card-content">
                    <h3>{{ev.title}}</h3>
                    
                    <div class = "row mb-2">
                        <div class = "col-8"><h5>{{ev.startAt |date("H:i")}} - {{ev.endAt |date("H:i")}}</h5></div>
                        <div class = "col-4"> <a class="btn btn-outline-primary btn-sm" href="{{path('app_agenda_details', {'id' : ev.id })}}"> Details </a> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="events-btn position-absolute">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" id="events-arrow-left" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i></button>
                <button type="button" id="events-arrow-right" class="btn btn-secondary"><i class="fa-solid fa-angle-right"></i></button>
            </div>
            <a class="btn btn-primary" href="{{path('app_agenda')}}">Voir tout <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </section>
<!-- EVENTS SECTION END -->
{% endif %}

<!-- OLD SECTION START -->
<section class="old" style="background-image: linear-gradient(rgba(0, 24, 69, 0.7), rgba(0, 24, 69, 0.7)), url('{{asset('/pages/')}}{{page.ancienneImg3}}');">
    <div class="container d-flex flex-column justify-content-around h-100 py-5">
        <h2 class="text-center">{{page.membreTitre}}</h2>
        <p class="text-center">
            {{page.membreText}}
        </p>
        <div class="w-100 d-flex justify-content-center">
            <a href="{{path('app_register')}}" class="btn btn-primary btn-lg">Adhérer</a>
        </div>
    </div>
</section>
<!-- OLD SECTION END -->

<!-- PARTNERS SECTION START -->
<section class="partners container">
    <h2 class="text-center py-5">Nos partenaires</h2>
    <div class="partners-carousel-container pb-5">

        {% for part in partenaires %}
        <div class="d-flex justify-content-center align-items center">
            <img src="/partenaires/{{part.logo}}" alt="" style="width: 200px; object-fit: cover">
        </div>
        {% endfor %}
    </div>
</section>
<!-- PARTNERS SECTION END -->


<!-- NEWSLETTER SECTION START -->
    <section class="login-register">
        <div class="container d-flex">
            <div class="login-left login-card d-flex justify-content-center align-items-center">
                <div>
                    <img src="{{asset('front/images/mail_vector.svg')}}" alt="">
                    <h2 class="mt-5 mb-3">Inscrivez-vous à notre mailing-list</h2>
                    <p>Inscrivez-vous à notre newsletter pour être informé(e) des dernières nouvelles de l’AMEMBA en temps réel. Pas plus d'un mail par semaine.</p>
                </div>
            </div>
            <div class="login-right login-card">
                <div class="container">
                    {% for message in app.flashes('info') %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <form method="POST" action="{{path('app_abonne')}}">
                        <h2>Entrez vos coordonnees</h2>
                        <div class="mt-4 row">
                            <div class="col">
                                <label class="form-label">Nom</label>
                                <input name="nom" class="form-control" placeholder="Doe" type="text" required>
                            </div>
                            <div class="col">
                                <label class="form-label">Prénom</label>
                                <input input name="prenom" class="form-control" placeholder="John" type="text" required>
                            </div>
                        </div>
                        <div class="mt-4">
                            <label class="form-label">Email</label>
                            <input  input name="mail" class="form-control" placeholder="john@xyz.com" type="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">M'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- NEWSLETTER SECTION END -->

{% endblock %}


{% block part %}{% endblock part %}