{% extends 'base.admin.html.twig' %}

{% block page_title %}Cotisations{% endblock %}

{% block content %}
<section class="row">
    <div class="col-12 ">
        <div class="row">
            <div class="col-6 col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="stats-icon green">
                                    <i class="iconly-boldCalendar"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Nombre de cotisations</h6>
                                <h6 class="font-extrabold mb-0">{{cotisations|length}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        
    </div>
    
</section>

<div class="page-content">
    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12 ">
                <div class="card ">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <strong> Ajouter une cotisation </strong> 
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="card-body">
                                    <form class="form form-horizontal" method='POST' >
                                        <div class="form-body">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Titre</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="first-name" class="form-control" name="titre" required>
                                                </div>
                                            </div>


                                            

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="desc">{% if selected is defined %} Nouvelle description {% else %} Description {% endif %}</label>
                                                    <textarea class="form-control" id="desc" rows="2" name="description" {% if selected is defined %} value="lol" {% endif %} required></textarea>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Montant</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" id="first-name" class="form-control" name="montant" required>
                                                </div>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" name="type" type="checkbox" id="flexSwitchCheckChecked" checked>
                                                <label class="form-check-label"  for="flexSwitchCheckChecked">Cotisation Obligatoire</label>
                                            </div>

                                                {# <input class="form-control" type="text" id="formFileMultiple" {% if selected is defined %} value="{{selected.id}}" {% endif %}  name="id" hidden> #}
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    {% if selected is defined %} 
                                                    <button type="submit" class="btn btn-warning me-1 mb-1">Modifier</button>
                                                    {% else %}
                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Ajouter</button>
                                                    {% endif %}
                                                </div>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des cotisations</h4>
                </div>
                <div class="card-content">
                    <!-- Table with no outer spacing -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 table-lg">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Solde</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                             {% for co in cotisations %}
                                <tr>
                                    <td>{{co.titre}} </td>
                                    <td>{{co.createdAt |date("d/m/Y")}}</td>
                                    <td> {{co.solde}}</td>
                                    <td>
                                        <a href="{{path('app_cotisation_details_admin',{id:co.id})}}" class="btn btn-outline-primary">Details</a>
                                        {% if co.etat %}
                                         <a href="{{path('app_cotisation_cloture',{id:co.id})}}" class="btn btn-outline-primary">Clore</a>
                                        {% endif %}
                                    </td>    
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{% endblock %}