{% extends 'base.admin.html.twig' %}

{% block page_title %} Details d'un article {% endblock page_title %}
{% block page_content %}
<h2 class="first-title text-center mb-4">{{article.titre}}</h2>
{% endblock %}
{% block content %}


    <section class="second py-5">
        <div class="container w-100">
            <form method="POST" action="{{path('app_article_change_categorie')}}">
                <h4>Changer la categorie de l'article</h4>
                <div class="row">
                    <div class="col-6">
                    <select class="form-select" aria-label="Default select example" name="cat">
                        {% for cat in categories %}
                            <option value="{{cat.id}}">{{cat.libelle}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="slug" value="{{article.slug}}" hidden>
                    </div>   
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Changer</button>
                    </div>
                </div>
            </form>
            <div class="single-article py-5">
                <div class="img-article" style="background-image: url('/blog/{{article.images[0].path}}');"></div>
                <h3>{{article.titre}}</h3>
                <div class="d-flex">
                    <div class="author mx-2">
                        <i class="fa-solid fa-user"></i>
                        <span>{{article.auteur.prenom}} {{article.auteur.nom}}</span>
                    </div>
                    <div class="day">
                        <i class="fa-solid fa-calendar"></i>
                        <span> {{article.createdAt|date}} </span>
                    </div>
                </div>
                <hr>
                {% for p in paragraphes %}
                <p class="my-4">
                    {{p}}
                </p>
                {% endfor %}    
            </div>
        </div>

        <div class="row">
            <div class="col-6">           
            
            {% if not article.statut %}
                <div class="row">
                <div class="col-6">
                <form method="POST" action="{{path('app_admin_article_details',{slug:article.slug})}}">
                    <button type="submit" name="valider" value="val" id="" class="btn btn-primary">Valider</button>
                </form>
                </div>
                <div class="col-6">
                <form method="POST" action="{{path('app_admin_article_details',{slug:article.slug})}}">
                    <button type="submit" name="refuser" value="val" id="" class="btn btn-primary">Refuser</button>
                </form>
                </div>
                </div>
            {% endif %}
            </div>
            <div class="col-6">
                <form method="POST" action="{{path('app_admin_article_details',{slug:article.slug})}}">
                    {% if article.publishedAt %}
                     <button type="submit" name="visibility" value="vis" id="" class="btn btn-primary">{% if not article.lisibilite and article.statut %}Afficher{% else %}Archiver{% endif %}</button>{% endif %}
                </form>
            </div>
        </div>

        <div class="container ">
            <h3 class="mt-3">Commentaires</h3>

            <div class="row ">
                <div class="col-12 ">
                    <div class="container p-0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 col-lg-10 col-xl-8 w-100">
                                <div class="card mb-3">
                                    {% for com in article.commentaires %}
                                    <div class="card-body">
                                        <div class="d-flex flex-start align-items-center">
                                            <div>
                                                <h6 class="fw-bold text-primary mb-1">{{com.user.prenom}} {{com.user.nom}}</h6>
                                                <p class="text-muted small mb-0">
                                                    {{com.date|format_datetime(locale='fr', dateFormat = 'medium' ,  timeFormat = 'none')}}
                                                </p>
                                            </div>
                                        </div>

                                        <p class="mt-3 mb-4 pb-2">
                                            {{com.content}}
                                        </p>
                                        {% if com.isVisible %}
                                        <a href="{{path('app_article_alter_comment',{id:com.id})}}"><button type="button" class="btn btn-danger"><i class="bi bi-trash"> Supprimer</i></button></a>
                                        {% else %}
                                        <a href="{{path('app_article_alter_comment',{id:com.id})}}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"> Afficher</i><button></a>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
    <!-- SECOND SECTION END -->
{% endblock content %}
