{% extends 'base.pages.html.twig' %}

{% block content %}
<!-- SECOND SECTION START -->
<section class="second p-3">
    <div class="shop-container">
        <div class="row">
            <aside class="col-lg-3">
                <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse" data-bs-target="#aside_filter">Show filter</button>
                <div id="aside_filter" class="collapse card d-lg-block mb-5">
                <article class="filter-group">
                    <header class="card-header">
                    <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
                        <i class="icon-control fa fa-chevron-down"></i>   Articles connexes 
                    </a>
                    </header>
                    <div class="collapse show" id="collapse_aside1">
                        <div class="card-body">
                            <ul class="list-menu">
                                <li><a href="#">Electronique </a></li>
                                <li><a href="#">Accessories  </a></li>
                                <li><a href="#">Articles de maison </a></li>
                                <li><a href="#">Vêtements pour hommes </a></li>
                                <li><a href="#">Articles d'intérieur </a></li>
                                <li><a href="#">Magazines </a></li>
                                <li><a href="#">Catégorie </a></li>
                            </ul>
                        </div>
                    </div>
                </article> 
                <article class="filter-group">
                    <header class="card-header">
                    <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
                        <i class="icon-control fa fa-chevron-down"></i>  Prix 
                    </a>
                    </header>
                    <div class="collapse show" id="collapse_aside2">
                        <div class="card-body">
                            <input type="range" class="form-range" min="0" max="100">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="min" class="form-label">Min</label>
                                    <input class="form-control" id="min" placeholder="0 F CFA" type="number">
                                </div>
                                <div class="col-6">
                                    <label for="max" class="form-label">Max</label>
                                    <input class="form-control" id="max" placeholder="999999 F CFA" type="number">
                                </div>
                            </div>
                            <button class="btn btn-primary w-100" type="button">Filtrer</button>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header">
                    <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
                        <i class="icon-control fa fa-chevron-down"></i>  Taille 
                    </a>
                    </header>
                    <div class="collapse show" id="collapse_aside3">
                        <div class="card-body">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>
                    
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>
                    
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>
                    
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div>
                    </div>
                </article>
                </div>
            </aside>
            <main class="col-lg-9">
                
            <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                <strong class="d-block py-2">32 produits trouvés </strong>
                <div class="ms-auto">
                  <select class="form-select d-inline-block w-auto">
                      <option value="0">Correspondance</option>
                      <option value="1">Recommandé</option>
                      <option value="2">Hautement noté</option>
                      <option value="3">Au hasard</option>
                  </select>
                </div>
            </header>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/10.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                        <del class="price-old">10.000 F CFA</del>
                      </div>
                      <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/11.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">Winter Jacket for Men and Women, All sizes</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/12.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/13.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/14.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">6.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">Blazer Suit Dress Jacket for Men, Blue color</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/10.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">2.500 F CFA</strong>
                      </div>
                      <p class="title mb-2">Rucksack Backpack The Bridge Large Line Mounts</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/11.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                      
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/12.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">5.000 F CFA</strong>
                      </div>
                      <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                    <div class="img-wrap text-center"> 
                      <img src="{{asset('front/images/products/9.jpg')}}"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                      <div class="price-wrap">
                        <strong class="price">1.500 F CFA</strong>
                      </div>
                      <p class="title mb-2">Summer New Men's Denim Jeans Shorts </p>
                      <a href="#" class="btn btn-primary">Mettre au panier</a>
                      <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    </figcaption>
                  </figure>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
            </main>
        </div>
        
        </div>
</section>
<!-- SECOND SECTION END -->
{% endblock content %}

