{% extends 'base.admin.html.twig' %}

{% block title %}Categories Produit{% endblock %}

{% block content %}
    <br>
    <div class="container">
    <h2>Categories de produits</h2>
        <div class="row">
            <div class="col-6">        
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Libelle</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in categories %}
                        <tr>
                        <th>{{i.libelle}}</th>
                        <td><a href="{{path('app_produit_categorie_update',{id:i.id})}}"><i class="bi bi-pencil-square"></i></a><a href="#"><i class="bi bi-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-3">Nouvelle categorie</h5>
                        <form method="POST" action="{% if categorie is defined %}{{path('app_produit_categorie_update',{id:categorie.id})}}{% else %}{{path('app_produit_categorie_add')}}{% endif %}">
                            <div class="mb-4">
                                <label for="categorie_libelle" class="form-label">Libelle</label>
                                <input type="text" placeholder="Type here" class="form-control" id="order_created_date"
                                name="libelle" value="{% if categorie is defined %}{{categorie.libelle}}{% else %}{% endif %}">
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary">{% if categorie is defined %}Modifier{% else %}Ajouter{% endif %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
