<ul class="reseaux-sociaux list-group d-flex">
    <li class=""><a href="mailto:{{foot.mail}}"><i class="fa-solid fa-envelope fa-2x"></i> <span class="mx-3">Mail</span></a></li>
    <li class=""><a href="{{foot.facebook}}" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i> <span class="mx-3">Facebook</span></a></li>
    <li class=""><a href="{{foot.instagram}}" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i> <span class="mx-3">amemba_officiel</span></a></li>
    <li class=""><a href="{{foot.twitter}}" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i> <span class="mx-3">AMEMBAofficiel</span></a></li>
    <!--
    <li class=""><a href="https://www.youtube.com/channel/UCDPsjydTxiMkAjlqnur3Btw" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i> <span class="mx-3">Youtube</span></a></li>
    -->
    <li class=""><a href="{{foot.whatsapp}}" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i> <span class="mx-3">WhatsApp</span></a></li>

</ul>