{% extends 'base.admin.html.twig' %}

{% block page_title %} Ajout de membre {% endblock page_title %}
{% block style %}
<!-- IntelTel Input CSS-->
<link rel="stylesheet" href="{{asset('front/css/intlTelInput.css')}}" crossorigin="anonymous">
{% endblock style %}
{% block content %}

    <div class="page-content">
        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12 ">
                    <div class="card">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <strong> Ajouter une membre </strong>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div class="card-body">
                                            <form class="form form-horizontal" enctype="multipart/form-data" method='POST' action="{{path('admin_membre_add')}}">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class = "col-2">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="role">Rôle</label>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-6">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <select class="form-select" aria-label="Default select example" id="role" name="role">
                                                                        <option selected value="0">Membre</option>
                                                                        
                                                                        {% for role in roles %}
                                                                        <option value="{{role.id}}">{{role.libelle}}</option>
                                                                        {% endfor %}
                                                                       
                                                                       
                                                                      </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class = "col-6">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Nom</label>
                                                                    <input type="text" id="email-id-vertical" class="form-control" name="nom"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-6">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Prenom</label>
                                                                    <input type="text" id="email-id-vertical" class="form-control" name="prenom" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Email</label>
                                                                    <input type="email" id="email-id-vertical" class="form-control" name="mail"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Téléphone</label>
                                                                    <input class="form-control" id='phone' name="telTest" type="tel" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Promotion</label>
                                                                    <input class="form-control" id='' name="promotion" type="number" min="1983" max="2022" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Pays de résidence</label>
                                                                    <input type="text" id="email-id-vertical" class="form-control" name="pays"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Ville de résidence </label>
                                                                    <input class="form-control" id='' name="ville" type="text" required>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Photo</label>
                                                                    <input class="form-control" id='' name="photo" type="file">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Série de BAC</label>
                                                                    <input class="form-control" id='' name="bac" type="text" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Secteur d'activité</label>
                                                                    <input type="text" class="form-control" name="secteur">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Entreprise</label>
                                                                    <input class="form-control" name="entreprise" type="text" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my_editor">Etablissement(s) d'Etudes Supérieures fréquenté(s)</label>
                                                        <textarea class="form-control" name="etudes" id="my_editor" rows="4"></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my_editor">Diplôme(s) Obtenu(s)</label>
                                                        <textarea class="form-control" name="diplomes" id="my_editor2" rows="4"></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my_editor">Experiences Professionnelles</label>
                                                        <textarea class="form-control" name="exp" id="my_editor1" rows="4"></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my_editor">Profil Linkedin</label>
                                                        <input class="form-control" name="profil" type="text" >
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="my_editor"> Bio / Entrepreneurship</label>
                                                        <textarea class="form-control" name="bio" id="" rows="2"></textarea>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Ajouter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recherche de membre 
                    <div class="card">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true" aria-controls="panelsStayOpen-collapse2">
                                        <strong> recherche de membre </strong>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading2">
                                    <div class="accordion-body">
                                        <div class="card-body">
                                            <form class="form form-horizontal" enctype="multipart/form-data" method='POST' action="">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class = "col-6">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Nom</label>
                                                                    <input type="text" id="email-id-vertical" class="form-control" name="nom"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-6">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Prenom</label>
                                                                    <input type="text" id="email-id-vertical" class="form-control" name="prenom" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Email</label>
                                                                    <input type="email" id="email-id-vertical" class="form-control" name="mail"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Téléphone</label>
                                                                    <input class="form-control" id='phone' name="telTest" type="tel" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Promotion</label>
                                                                    <input class="form-control" id='' name="promotion" type="number" min="1983" max="2022" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="email-id-vertical">Pays de résidence</label>
                                                                    <input type="email" id="email-id-vertical" class="form-control" name="mail"  required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class = "col-4">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="form-label col-12">Ville de résidence </label>
                                                                    <input class="form-control" id='phone' name="telTest" type="tel" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                   

                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Ajouter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                </div>
            </div>


        </section>
    </div>

{% endblock content %}


{% block js %}
<!-- IntelTel Input -->
<script type="text/javascript" src="{{asset('front/js/intlTelInput.js')}}"></script>
<script src="{{asset('admin/assets/js/form-edit/ckeditor.js')}}"></script>
<script>
    var input = document.querySelector("#phone");
    window.intlTelInput(input, {
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: "off",
        // dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        hiddenInput: "full_number",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        placeholderNumberType: "MOBILE",
        preferredCountries: ['sn'],
        separateDialCode: true,
        utilsScript: "{{asset('front/js/utils.js')}}",
    });
</script>
    <script>
        ClassicEditor.create(document.getElementById('my_editor'));
        ClassicEditor.create(document.getElementById('my_editor1'));
        ClassicEditor.create(document.getElementById('my_editor2'));
    </script>
{% endblock js %}